    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .web {
        color: #2196f3;
    }

.header-item {

        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;

    }

    .list-header {
        align-items: center;
        gap: 50px;
        display: flex;

    }

    .header-list2 {
        align-items: center;
        gap: 50px;
        display: flex;
        margin-left: auto;
        margin-bottom: 24px;
        margin-top: 25px;
    }

    .header-nav {
        display: flex;
        align-items: center;

    }

    .header-logo {
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        font-family: "Raleway";
        margin-right: 90px;
    }

    .header-link:hover {
        color: #2196f3;
    }


    .header-gmail {

        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: dodgerblue;
    }

    .header-contact {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
    }

    .header-link {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;
    }

    .header-it {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
    }
