    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .web {
        color: #2196f3;
        margin-bottom: 25px;
    }


    /* header-section */




    .header-item {

        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;

    }

    .list-header {
        align-items: center;
        gap: 50px;
        display: flex;

    }

    .header-list2 {
        align-items: center;
        gap: 50px;
        display: flex;
        margin-left: auto;
        margin-bottom: 24px;
        margin-top: 25px;
    }

    .header-nav {
        display: flex;
        align-items: center;

    }

    .header-logo {
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        font-family: "Raleway";
        margin-right: 90px;
    }

    .header-link:hover {
        color: #2196f3;
    }

    .header-gmail:hover {
        color: #2196f3;

        .header-email {
            fill: #2196f3;
        }
    }


    .header-gmail {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
    }

    .header-email {
        width: 16px;
        height: 12px;
        fill: #757575;
    }

    .header-contact {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .header-smartphone {
        height: 16px;
        width: 10px;
        fill: #757575;
    }

    .header-contact:hover {
        color: #2196f3;

        .header-smartphone {
            fill: #2196f3;
        }
    }

    .header-link {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;
    }

    .header-it {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
    }

    /* register-section */


    .register-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 136%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        max-width: 696px;
    }

    .register-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 187%;
        letter-spacing: 0.06em;
        text-align: center;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #2196f3;
    }

    .register-section {
        background-color: #2F303A;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: url("../image/creation.png"), url("../image/overlay.jpg");

    }

    .register-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .register-button {
        border: #2196f3;
        border-radius: 4px;
        padding: 10px 32px;
        border-style: none;
    }

    .register-text {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;

    }

    .register-text:hover {
        color: aquamarine;
    }

    /* about-section */



    .about-title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }

    /* 
     .about-li {
        width: 270px;
        height: 120px;
        color: #F5F4FA;
    }  */

    .about-section {
        padding-top: 94px;
        padding-bottom: 94px
    }

    .about-tex {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .about-title-1::before {
        content: "";
        /* background-color: #F5F4FA; */
        background-image: url("../image/antenna.png");
        width: 100px;
        height: 100px;
        display: block;
        background-repeat: no-repeat;
        margin-left: 100px;
        margin-right: 100px;
    }

    .about-title-2::before {
        content: "";
        /* background-color: #F5F4FA; */
        background-image: url("../image/clock.png");
        width: 100px;
        height: 100px;
        display: block;
        background-repeat: no-repeat;
        margin-left: 100px;
        margin-right: 100px;
    }

    .about-title-3::before {
        content: "";
        /* background-color: #F5F4FA; */
        background-image: url("../image/diagram.png");
        width: 100px;
        height: 100px;
        display: block;
        background-repeat: no-repeat;
        margin-left: 100px;
        margin-right: 100px;
    }

    .about-title-4::before {
        content: "";
        /* background-color: #F5F4FA; */
        background-image: url("../image/astronaut.png");
        width: 100px;
        height: 100px;
        display: block;
        background-repeat: no-repeat;
        margin-left: 100px;
        margin-right: 100px;
    }

    .about-list {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }

    .about-text {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }

    /* what_we_doing-section */


    .doing-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin-bottom: 50px;
    }

    .doing-title2 {
        font-weight: 900;
        font-size: 44px;
        line-height: 136%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;

    }

    .doing-list {
        display: flex;
        gap: 30px;
    }

    .doing-section {
        padding-bottom: 94px;
    }


    /* team-section */

    .team-title {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
    }

    .team-text {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #757575;
        margin-top: 10px;

    }

    .team-icon-links {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-bottom: 44px;

    }

    .team-icon {
        height: 20px;
        width: 20px;
        fill: #AFB1B8;
    }

    .team-icones {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-icones:hover {
        background-color: #2196F3;

        .team-icon {
            fill: #FFFFFF;
        }
    }



    .team {
        background-color: #fff;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
    }

    .team-list {
        display: flex;
        gap: 30px;
        justify-content: center
    }

    .team-section {
        background-color: #F5F4FA;
        padding-bottom: 94px;
        padding-top: 94px;

    }

    .team-title2 {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin-bottom: 50px;

    }

    .team-img {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin-bottom: 30px;
        height: 260px;
        width: 270px;
    }

    /* clients section */

    .clients-section {
        padding-top: 93px;
        padding-bottom: 94px;
    }

    .clients-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin-bottom: 50px;
    }

    /* .clients-icon {
        width: 106px;
        height: 60px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        box-sizing: content-box;
        width: 170px;
        height: 92px;
        
    } */
    .clients-list {
        display: flex;
        gap: 30px;
        fill: #afb1b8;
    }

    .clients-icon {
        width: 170px;
        height: 92px;

        border: 1px solid #afb1b8;
        border-radius: 4px;

        padding: 16px 32px;

        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .clients-icon:hover {
        border: 1px solid #2196F3;
    }

    .clients-icon img {
        width: 106px;
        height: 60px;
        display: block;
    }

    .clients-icones:hover {
        border-color: #2196f3;
    }

    .clients-icones:hover .clients-icon {
        fill: #2196f3;
    }




    /* end-section */


    .end-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

    }

    .end-number {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #212121;

    }



    .end-webstudio {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #2196f3;
    }

    .end-tex {

        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;
        margin-bottom: 9px;
    }

    .end-footer {
        background-color: #2F303A;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .footer-display {
        display: flex;
        align-items: center;

    }

    .footer-text {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
    }

    .footer-icon-links {
        display: flex;
        gap: 10px;
        justify-content: center;
        height: 44px;
        width: 206px;
    }

    .footer-icon {
        height: 20px;
        width: 20px;
        fill: #FFFFFF;
    }

    .footer-second-collon {
        margin-left: 70px;
    }

    .footer-icones {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        ;
    }

    .footer-icones {
        fill: rgba(255, 255, 255, 0.1);
    }

    .footer-icones:hover {
        background-color: #2196F3;

        .footer-icon {
            fill: #FFFFFF;
        }

    }

    .end-number {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .end-studio {
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #fff;
        font-family: "Raleway";
        margin-bottom: 20px;
    }

    .end-address {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #fff;
        font-style: normal;
        margin-bottom: 9px;
    }

    .studio {
        color: #fff;
    }