    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .web {
        color: #2196f3;
    }

    .header-item {

        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;

    }

    .list-header {
        align-items: center;
        gap: 50px;
        display: flex;

    }

    .header-list2 {
        align-items: center;
        gap: 50px;
        display: flex;
        margin-left: auto;
        margin-bottom: 24px;
        margin-top: 25px;
    }

    .header-nav {
        display: flex;
        align-items: center;

    }

    .header-logo {
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        font-family: "Raleway";
        margin-right: 90px;
    }

    .header-link:hover {
        color: #2196f3;
    }


    .header-gmail {

        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: dodgerblue;
    }

    .header-contact {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
    }

    .header-link {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;
    }

    .header-it {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
    }

    /* filter-section */

    .filter {
        padding-top: 94px;
        padding-bottom: 34px;
    }

    .filter-list {
        display: flex;
        gap: 8px;
        justify-content: center;

    }

    .filter-button:hover {
        color: #fff;
        background-color: #2196f3;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    }



    .filter-button {
        padding-bottom: 6px;
        padding-top: 6px;
        padding-left: 22px;
        padding-right: 22px;
        display: block;
        border-radius: 4px;
    }

    .projects {
        padding-top: 50px;
        padding-bottom: 94px;
    }

    .projects-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .projects-item{
        flex-basis: calc((100% - 2 * 30px) / 3);
    }



    .project-title {
        margin-top: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 200%;
        letter-spacing: 0.06em;
        color: #212121;
    }

    .project-text {
        margin: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 187%;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .end-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

    }

    .end-number {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #212121;

    }



    .end-webstudio {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #2196f3;
    }

    .end-tex {

        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;
        margin-bottom: 9px;
    }

    .end-footer {
        background-color: #2F303A;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .end-number {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .end-studio {
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #fff;
        font-family: "Raleway";
        margin-bottom: 20px;
    }

    .end-address {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #fff;
        font-style: normal;
        margin-bottom: 9px;
    }

    .studio {
        color: #fff;
    }