    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .web {
        color: #2196f3;
        margin-bottom: 25px;
    }


    /* header-section */




    .header-item {

        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;

    }

    .list-header {
        align-items: center;
        gap: 50px;
        display: flex;

    }

    .header-list2 {
        align-items: center;
        gap: 50px;
        display: flex;
        margin-left: auto;
        margin-bottom: 24px;
        margin-top: 25px;
    }

    .header-nav {
        display: flex;
        align-items: center;

    }

    .header-logo {
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        font-family: "Raleway";
        margin-right: 90px;
    }

    .header-link:hover {
        color: #2196f3;
    }


    .header-gmail {

        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: dodgerblue;
    }

    .header-contact {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
    }

    .header-link {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;
    }

    .header-it {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
    }

    /* register-section */


    .register-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 136%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        max-width: 696px;
    }

    .register-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 187%;
        letter-spacing: 0.06em;
        text-align: center;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #2196f3;
    }

    .register-section {
        background-color: #2F303A;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .register-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .register-button {
        border: #2196f3;
        border-radius: 4px;
        padding: 10px 32px;
        border-style: none;
    }

    .register-text {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;

    }

    .register-text:hover {
        color: aquamarine;
    }

    /* about-section */

    .about-title::before{
        
    }

    .about-title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }

    .about-section {
        padding-top: 94px;
        padding-bottom: 94px
    }

    .about-tex {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .about-list {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }

    .about-text {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }

    /* what_we_doing-section */


    .doing-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin-bottom: 50px;
    }

    .doing-title2 {
        font-weight: 900;
        font-size: 44px;
        line-height: 136%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;

    }

    .doing-list {
        display: flex;
        gap: 30px;
    }

    .doing-section {
        padding-bottom: 94px;
    }


    /* team-section */

    .team-title {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
    }

    .team-text {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #757575;
        margin-top: 10px;

    }

    .team {
        background-color: #fff;
    }

    .team-list {
        display: flex;
        gap: 30px;
        justify-content: center
    }

    .team-section {
        background-color: #F5F4FA;
        padding-bottom: 94px;
        padding-top: 94px;
    }

    .team-title2 {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin-bottom: 50px;
    }
    
     .team-img {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin-bottom: 30px;
        height: 260px;
        width: 270px;
    }

    /* end-section */


    .end-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

    }

    .end-number {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #212121;

    }



    .end-webstudio {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #2196f3;
    }

    .end-tex {

        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;
        margin-bottom: 9px;
    }

    .end-footer {
        background-color: #2F303A;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .end-number {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .end-studio {
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #fff;
        font-family: "Raleway";
        margin-bottom: 20px;
    }

    .end-address {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #fff;
        font-style: normal;
        margin-bottom: 9px;
    }

    .studio {
        color: #fff;
    }