.about {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }

    &__li {
        &::before {
            content: "";
            background-image: url("../image/antenna.png");
            background-color: #F5F4FA;
            background-position: center;
            border-radius: 4px;
            width: 270px;
            height: 120px;
            display: block;
            background-repeat: no-repeat;
            margin-bottom: 30px;
        }

        &:nth-child(2)::before {
            background-image: url("../image/clock.png");
        }

        &:nth-child(3)::before {
            background-image: url("../image/diagram.png");
        }

        &:nth-child(4)::before {
            background-image: url("../image/astronaut.png");
        }
    }

        &__title {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #212121;
        }

          &__text {
              font-weight: 400;
              font-size: 14px;
              line-height: 171%;
              letter-spacing: 0.03em;
              color: #757575;
          }
          

&__title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}


&__text {
font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}


}




/* 
     .about-li {
        width: 270px;
        height: 120px;
        color: #F5F4FA;
    }  */











