
    .end-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

    }

    .end-number {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #212121;

    }



    .end-webstudio {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #2196f3;
    }

    .end-tex {

        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;
        margin-bottom: 9px;
    }

    .end-footer {
        background-color: #2F303A;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .footer-display {
        display: flex;
        align-items: baseline;

    }

    .footer-text {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
    }

    .footer-icon-links {
        display: flex;
        gap: 10px;
        justify-content: center;
        height: 44px;
        width: 206px;
    }

    .footer-icon {
        height: 20px;
        width: 20px;
        fill: #FFFFFF;
    }

    .footer-icon-links {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-bottom: 44px;


    }

    .footer-icon-links {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-bottom: 44px;

    }

    .footer-second-collon {
        margin-left: 70px;
    }

    .footer-icones {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
     transition-property: background-color;
     transition-duration: 250ms;
    }

    .footer-icones {
        fill: rgba(255, 255, 255, 0.1);
    }

    .footer-icones:hover {
        background-color: #2196F3;

        .footer-icon {
            fill: #FFFFFF;
        }

    }

    .footer-third-collon {
        margin-left: auto;
    }

    .footer-subscribe {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
    }

    .footer-form {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .footer-input {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        width: 358px;
        height: 50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        background-color: transparent;
        padding-left: 16px;
    }

    .footer-button {
        width: 200px;
        height: 50px;
        border-radius: 4px;
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 188%;
        letter-spacing: 0.06em;
        text-align: center;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #2196f3;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }

    .footer-send {
        width: 24px;
        height: 24px;
        fill: #FFFFFF;
    }


    .end-number {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575;

    }

    .end-studio {
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #fff;
        font-family: "Raleway";
        margin-bottom: 20px;
    }

    .end-address {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #fff;
        font-style: normal;
        margin-bottom: 9px;
    }

    .studio {
        color: #fff;
    }
